{
  "parser": "@babel/eslint-parser",
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "requireConfigFile": false,
    "sourceType": "module",
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "plugins": ["import"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-empty-function": "warn",
    "no-unused-vars": 1
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
