.inprogress-container {
    background-color:#f8f8f8;
    border: 1px solid black;
    border-radius: 5px;
    padding:20px;
    margin:20px 0 20px 0;

    /* This should be inherited, need to change */
    width:48.5vw;
}