iframe{
    width:100%;
    height:100%;
}
html{
    font-size: 14px;
}

.patient-selection-box{
    width:100%;
    padding:10px 10px 15px 10px;
    flex:1;
    background-color: #ddd;
    display: grid;
    grid-template-columns: 15% 35% 35% 10%;
    column-gap: 5px;
}

.patient-box{
    padding-bottom:10px;
}
.patient-header{
    color:white;
    background-color: #535353;
    padding: 10px;

}
.smartExit{

    height:24px;
    border-style: solid;
    border-color:black;
    background-color: #d9534f;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    border-width: 0px 0px 0px 1px;
    float:right;
}

.smartHeader {
    background-color: #5f636a;
    display:block;
    border-bottom: 1px solid black;
    height:25px;
}
.smartMinimize{
    position:absolute;
    right:-25px;
    border: 2px solid gray;
    width:27px;
    top:21px;
}

.minimizedFrame{
    border-style: solid;
    border-color: blue gray gray gray;
    border-width: 2px;
    padding: 2px;
    margin-left: 10px;
}

.more-info {
    float:right;
}

.patient-info {
    display:inline-block;
}

.request-info {
    display: inherit;

}

.ehr-setting {
    margin: 10px;
}

.ui.header.text, .sub.header {
    text-align: left;
}
.ui.header.text {
    font-size: 1em;
}

.select-btn {
    height: 40px;
    align-self: center;
}

.emptyForm {
    margin-left: 8px;
    color: dimgray;
    font-style: italic;
}

.ui.fluid.dropdown {
    height: fit-content;
}

.ui.dropdown>.text {
    display: block;
}